{% extends 'base.html' %}
{% block content %}
<h5>Customers</h5>
<table id='data' class='table table-striped table-bordered table-hover table-sm'>
    <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
            <th>Street Address</th>
            <th>City</th>
            <th>Zipcode</th>
            <th>Country</th>
            <th>Birthday</th>
            <th>National ID</th>
            <th>Telephone</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#data').DataTable({
                ajax: '/api/customer_data',
                serverSide: true,
                columns: [
                    {data: 'id'},
                    {data: 'first_name'},
                    {data: 'last_name'},
                    {data: 'email_address'},
                    {data: 'street_address'},
                    {data: 'city'},
                    {data: 'zipcode'},
                    {data: 'country'},
                    {data: 'birthday'},
                    {data: 'national_id', orderable: false},
                    {data: 'telephone', orderable: false}
                ],
            });
        });
    </script>
{% endblock %}
