{% extends 'base.html' %}
{% block content %}
<table id='data' class='table table-bordered sortable-table'> 
    <thead>
        <tr>
            <th scope='col' class='user-select-none'>#</th>
            <th scope='col' class='user-select-none'>Type</th>
            <th scope='col' class='user-select-none'>Operation</th>
            <th scope='col' class='user-select-none'>Amount</th>
            <th scope='col' class='user-select-none'>New Balance</th>
            <th scope='col' class='user-select-none'>Timestamp</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#data').DataTable({
                ajax: '/api/accounts/{{ account.id }}',
                serverSide: true,
                columns: [
                    {data: 'id'},
                    {data: 'type', orderable: false},
                    {data: 'operation', orderable: false},
                    {data: 'amount', orderable: false},
                    {data: 'new_balance', orderable: false},
                    {data: 'datetime'},
                ],
            });
        });
    </script>
{% endblock %}
