{% extends 'base.html' %}
{% block content %}

<h2>Profile Information</h2>
<div class='card'>
    <div class='card-body'>
        <h5 class='card-title'>{{ customer.first_name }} {{ customer.last_name}}</h5>
        <ul class='list-group list-group-flush'>
            <li class='list-group-item'><p class='card-text'>Street Address: {{ customer.street_address }}</p></li>
            <li class='list-group-item'><p class='card-text'>City: {{ customer.city }}</p></li>
            <li class='list-group-item'><p class='card-text'>Zipcode: {{ customer.zipcode }}</p></li>
            <li class='list-group-item'><p class='card-text'>Country: {{ customer.country }}</p></li>
            <li class='list-group-item'><p class='card-text'>Birthday: {{ customer.birthday }}</p></li>
            <li class='list-group-item'><p class='card-text'>National ID: {{ customer.national_id }}</p></li>
            <li class='list-group-item'><p class='card-text'>Telephone: {{ customer.telephone }}</p></li>
            <li class='list-group-item'><p class='card-text'>Email: {{ customer.email_address }}</p></li>
        </ul>
    </div>
</div>

<br>

<h2>Accounts</h2>
<div class='card'>
    <div class='card-body'>
        <table id='data' class='table table-hover table-bordered table-sm'>
            <thead>
                <tr>
                    <th scope='col'>#</th>
                    <th>Type</th>
                    <th>Balance</th>
                    <th>Created</th>
                    <th>Transactions</th>
                </tr>
            </thead>
            <tbody>
                {% for account in accounts %}
                    <tr>
                        <td>{{ account.id }}</td>
                        <td>{{ account.account_type }}</td>
                        <td>{{ account.balance }}</td>
                        <td>{{ account.created }}</td>
                        <td><a href='{{ url_for("account", customer_id=account.customer_id, account_id=account.id) }}'>View</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p class='card-text'>Total balance: {{ balance }}</p>
    </div>
</div>

<br>

{% if current_user.is_authenticated %}
<h2>Make a Transaction</h2>
<div class='card'>
    <div class='card-body'>
        <ul class='list-group list-group-flush'>
            <li class='list-group-item'><a href='{{ url_for("withdraw", customer_id=customer.id) }}'>Withdraw</a></li>
            <li class='list-group-item'><a href='{{ url_for("deposit", customer_id=customer.id) }}'>Deposit</a></li>
            <li class='list-group-item'><a href='{{ url_for("transfer", customer_id=customer.id) }}'>Transfer</a></li>
        </ul>
    </div>
</div>

<br>

<h2>Options</h2>
<div class='card'>
    <div class='card-body'>
        <ul class='list-group list-group-flush'>
            <li class='list-group-item'><a href='{{ url_for("update_customer", customer_id=customer.id) }}'>Change Customer Information</a></li>
            <li class='list-group-item'><a href='{{ url_for("delete_customer", customer_id=customer.id) }}'>Delete Customer</a></li>
        </ul>
    </div>
</div>

{% endif %}

{% endblock %}
