{% extends 'base.html' %}
{% block content %}
<table id='data' class='table table-striped table-bordered table-hover table-sm'>
    <thead>
        <tr>
            <th>#</th>
            <th>Email Address</th>
            <th>Role</th>
            <th>Option</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#data').DataTable({
                ajax: '/api/users',
                serverSide: true,
                columns: [
                    {data: 'id'},
                    {data: 'email_address'},
                    {data: 'role', orderable: false},
                    {
                        data: null, 
                        render: function ( data, type, row, meta ) {
                            return '<a href="/manage_users/'+row.id+'">Update User</a>';
                        },
                        orderable: false
                    },
                ],
            });
        });
    </script>
{% endblock %}
