{% extends 'base.html' %}
{% block content %}
<h2>Sign up</h2>
<form method='POST'>
    {{ form.hidden_tag() }}

    {{ form.email_address.label(class='form-label') }}
    {{ form.email_address(class='form-control') }}

    {{ form.password.label(class='form-label') }}
    {{ form.password(class='form-control') }}

    {{ form.confirm_password.label(class='form-label') }}
    {{ form.confirm_password(class='form-control') }}
    <br>
    {{ form.submit(class='btn btn-secondary') }}
</form>
{% endblock %}
