{% extends 'base.html' %}
{% block content %}
<form method='POST' class='border p-3 my-3 bg-body rounded'>
    <div>
        {{ form.hidden_tag() }}
        
        {{ form.first_name.label(class='form-label') }}
        {{ form.first_name(class='form-control', value=customer_to_update.first_name) }}

        {{ form.last_name.label(class='form-label') }}
        {{ form.last_name(class='form-control', value=customer_to_update.last_name) }}

        {{ form.email_address.label(class='form-label') }}
        {{ form.email_address(class='form-control', value=customer_to_update.email_address) }}

        {{ form.telephone_country_code.label(class='form-label') }}
        {{ form.telephone_country_code(class='form-control', value=customer_to_update.telephone_country_code) }}
        
        {{ form.phone_number.label(class='form-label') }}
        {{ form.phone_number(class='form-control', value=customer_to_update.phone_number) }}
        
        {{ form.street_address.label(class='form-label') }}
        {{ form.street_address(class='form-control', value=customer_to_update.street_address) }}
        
        {{ form.city.label(class='form-label') }}
        {{ form.city(class='form-control', value=customer_to_update.city) }}
        
        {{ form.country.label(class='form-label') }}
        {{ form.country(class='form-control', value=customer_to_update.country) }}
        
        {{ form.country_code.label(class='form-label') }}
        {{ form.country_code(class='form-control', value=customer_to_update.country_code) }}
        
        {{ form.zipcode.label(class='form-label') }}
        {{ form.zipcode(class='form-control', value=customer_to_update.zipcode) }}
        
        {{ form.birthday.label(class='form-label) }}
        {{ form.birthday(class='form-control', value=customer_to_update.birthday) }}
        
        {{ form.national_id.label(class='form-label') }}
        {{ form.national_id(class='form-control', value=customer_to_update.national_id) }}
        <br>
        {{ form.submit(class='btn btn-secondary') }}
    </div>
</form>
{% endblock %}
